/* color {
    B6AE9F
    C5C7BC
    DEDED1
    FBF3D1
} */
.logotitle {
    color: #F94818 !important;
    font-size: 28px !important;
    font-weight: 700 !important;
}

.active {
    background-color: #B6AE9F !important;
}

.LActive:hover {
    background-color: #B6AE9F !important;
}

button {
    background-color: #c7c0b1;
    width: 100%;
    margin: 5% 2%;
    border-radius: 40px;
    padding: 10px;
    font-weight: 500;
    transition: .4s;
    border: 1px solid #46423b;
}

button:hover {
    transform: scale(1.04);
    background-color: #46423b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white !important;

}

.footer-bar {
    background-color: #B6AE9F !important;
}

.icons {
    padding: 15px 10px 15px 15px !important;
    align-items: center !important;
    background-color: #DEDED1 !important;
    border-radius: 50% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .6s;
}

.parent {
    display: grid;
    grid-template-columns: 280px repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 8px;
}

.div1 {
    grid-row: span 3 / span 3;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}

.div2 {
    .flex {

        display: flex;
        justify-content: space-evenly;
    }

    grid-column-start: 2;
    grid-row-start: 1;

    .flex hr {
        transform: rotate(0deg);
        height: 60px;
        margin: 0px 8px;
        border: none;
        border-right: 2px solid #1d1b17;
        opacity: 1;
    }

    a {
        text-decoration: none;
        color: #2e2a22;
        font-weight: 600;
        font-size: 18px;
        padding: 10px 13px;
        transition: .4s;
        height: fit-content;
    }

    a:hover {
        background-color: #DEDED1;
    }

    .active-a {
        color: #F94818;
        border-bottom: 3px solid #2e2a22;
    }

    .post {
        display: flex;
        margin-top: 25px;
    }

    img {
        float: left;
        margin: 0 15px 10px 0;
    }

    textarea {
        width: 100%;
        height: 150px;
        outline: none;
        /* border-radius: 15px; */
        color: #c7c0b1;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;

        /* border: 2px soli transparent; */
        resize: none;
    }

    .submit {
        display: flex;
        justify-content: end;
        margin-top: 8px;

        button {
            margin-top: 0px;
            margin-bottom: 0px;
            width: 90px;
        }
    }

    .progress-circle {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        --progress-color: #3b82f6;
        --stroke-width: 6px;
    }

    .progress-circle-text {
        position: absolute;
        text-align: center;
        transition: transform 0.3s ease;
    }


    .progress-circle-indicator {
        transition: stroke-dashoffset 0.5s ease-in-out;
    }

}

.div3 {
    padding-left: 10px;
    grid-column-start: 2;
    grid-row-start: 2;

    .post-heading {
        display: flex;
        align-items: center;

        h5 {
            color: #2e2a22;
            font-size: 17px;
        }

        span {
            color: #F94818;
            font-size: 14px;
            font-weight: 500;
        }

        small {
            padding-left: 5px !important;
            color: #46423b;
            font-weight: 500;
        }
    }

    .post-content {
        margin-top: 10px;

        p {
            padding: 2px;
            opacity: 0.9;
            font-weight: 600;
            font-size: 15px;
            color: #8f8674;
        }
    }

    .post-actions {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #46423b;
            font-weight: 600;
            font-size: 16px;
            transition: .4s;
        }

        a:hover {
            color: #F94818;
            cursor: pointer;
        }
        
        .retweet i {
            width: 18px;
            height: 18px;
            margin-right: 5px;
            display: inline-block;
            /* required so transform affects it properly */
        }

        .retweet i.rotate {
            transition: transform 0.5s ease;
            transform: rotate(180deg);
        }


    }

}

.div4 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div5 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.div6 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div7 {
    grid-column-start: 3;
    grid-row-start: 3;
}