<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manzoid AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/AI.css') }}">
</head>

<body>

    <div class="Manzoid-container">
        <!-- Main Content Area -->
        <div class="main-content">
            <div class="ai-header">
                <img src="../static/assets/logo.png" alt=""> Manzoid AI
            </div>

            <div id="chat-box" class="chat-box">
                <div class="message ai">
                    Hi {{current_user.name.split(' ')[0]}}👋, It's Manzoid AI. Ask me anything!
                </div>

            </div>

            <div class="chat-input">
                <input type="text" id="user-input" maxlength="100" placeholder="write a motivation tweet..." />
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>

    </div>

    <script>
        $(".chat-input input").keydown(function (e) {
            if (e.key === "Enter") {
                e.preventDefault();
                sendMessage();
            }
        });
        function addMessage(text, sender) {
            const $chatBox = $("#chat-box");
            const $msg = $("<div></div>")
                .addClass("message " + sender)
                .text(text);

            $chatBox.append($msg);
            $chatBox.scrollTop($chatBox[0].scrollHeight);
        }

        function sendMessage() {
            const $input = $("#user-input");
            const text = $input.val().trim();

            if (!text) return;

            addMessage(text, "user");
            $input.val("");

            const $typing = $(`<div class="message ai typing-indicator">
            <span></span><span></span><span></span></div>`);

            $("#chat-box").append($typing);

            $.ajax({
                url: "/Manzoid-AI",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    message: text,
                    user_id: {{ current_user.id }}
                 }),

        success: function (data) {
            $typing.remove();

            if (data.reply) {
                addMessage(data.reply, "ai");
            } else {
                addMessage("⚠️ AI service error.", "ai");
            }
        },

        error: function () {
            $typing.remove();
            addMessage("⚠️ Network error.", "ai");
        }
            });
        }
    </script>

</body>

</html>