<div class="post-button" >
    <div class="back-post">
        <i class="bi bi-arrow-left" style="cursor: pointer;"></i>
        <a href="">Post</a>
    </div>
    <i class="bi bi-three-dots"></i>
</div>
<div class="post-detail">
    <div class="post-heading">
        <img src="{{ post.user.profile_image_url if post.user.profile_image_url else url_for('static', filename='assets/default-profile.jpg') }}"
            alt="" width="40" height="40" class="rounded-circle me-2">
        <h5 class="{{ post.user.id}}">{{ post.user.name }}<br/><span>@{{ post.user.username }}</span></h5>
    </div>
    <div class="post-content">
        <p class="content">{{ post.content }}</p>
        <p class="hashtag">{{" ".join(post.hashtags) }}</p>
    </div>
    <div class="post-actions commmentpost-action">
        <a class="comments"><i class="bi bi-chat-heart"></i> <span>{{ post.comments }}</span></a>
        <a class="retweets"><i class="bi bi-repeat"></i> <span>{{ post.retweets }}</span></a>
        <a class="likes"><i class="bi bi-heart"></i> <span>{{ post.likes }}</span></a>
        <a class="shares"><i class="bi bi-share"></i> <span>{{ post.shares }}</span></a>
    </div>
</div>
<hr>

<div class="my-comment">
    <img src="{{ current_user.profile_image_url if current_user.profile_image_url else url_for('static', filename='assets/default-profile.jpg') }}"
        alt="" width="35" height="35" class="rounded-circle me-2">
    <input type="text" name="content" maxlength="130" placeholder="Leave your Comment">
    <button id="submitComment">Reply</button>
</div>
<hr />
<div class="all-comments">
    {% if not comments %}
    <div class="no-data text-center py-3">No comments yet.</div>
    {% else %}
    {% for comment in comments %}
    <div class="post-top">
        <div class="post-heading">
            <img src="{{ comment.user.profile_image_url if comment.user.profile_image_url else url_for('static', filename='assets/default-profile.jpg') }}"
                alt="" width="30" height="30" class="rounded-circle me-2">
            <h5 data-userid="{{ comment.user.id }}">{{ comment.user.name }} <br><span>@{{ comment.user.username }}</span></h5>
        </div>
        <div class="post-actions comment-actions" data-postId="{{ comment.id }}">
            <a class="like-comment"><i class="bi bi-heart"></i> {{ comment.likes }}</a>
        </div>
    </div>
    <div class="post-content">
        <p>{{ comment.content }}</p>
    </div>
    <hr>
    {% endfor %}
    {% endif %}
</div>
<script>

    $(".post-heading h5").click(function () {
        user_id = $(this).data("userid");
        showProfile(user_id);
    });
    
    $(".like-comment").click(function (e) {
        e.preventDefault();

        var $btn = $(this);
        var $icon = $btn.find("i");

        var wasLiked = $icon.hasClass("bi-heart-fill");
        var postId = $btn.closest(".comment-actions").data("postid");
        $.ajax({
            url: "/likePost/3",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                post_id: postId,
                like: !wasLiked
            }),
            success: function (res) {

                // Update UI ONLY after backend success
                if (wasLiked) {
                    // Was liked, now unliked
                    $btn.removeClass("text-warning");
                    $icon.removeClass("bi-heart-fill").addClass("bi-heart");
                } else {
                    // Was unliked, now liked
                    $btn.addClass("text-warning");
                    $icon.removeClass("bi-heart").addClass("bi-heart-fill");
                }
                // Update count safely
                var textNode = $btn.contents().filter(function () {
                    return this.nodeType === 3;
                }).first();

                if (textNode.length) {
                    textNode[0].nodeValue = " " + res.likes;
                } else {
                    $btn.append(" " + res.likes);
                }
            }
        });
    });
    // active arrow back button
    $(".back-post > i").click(showFullPost);

    function submitComment() {
        var post_id = $(".active-post").data("postid");
        var post_content = $(".my-comment input").val().trim();
        post_content = encodeURIComponent(post_content);
        if (post_content === "") {
            return;
        }
        $('.coreXmanzoid').load('/comments/' + post_id + '/' + post_content + '/1');
    }
    $("#submitComment").click(submitComment);

    $(".my-comment input").keydown(function (e) {
        if (e.key === "Enter") {
            e.preventDefault();
            submitComment();
        }
    });
</script>