<form action="/comments/{{ post_id}}" method="post">
    <div class="my-comment">
        <img src="https://github.com/mdo.png" alt="" width="35" height="35" class="rounded-circle me-2">
        <input type="text" name="content" placeholder="Leave your Comment">
        <button>reply</button>
    </div>
    <hr/>
</form>
{% for comment in comments %}
<div class="post-top">
    <div class="post-heading">
        <img src="https://github.com/mdo.png" alt="" width="30" height="30" class="rounded-circle me-2">
        <h5 class="4">{{ comment.user.name }} <br><span>@{{ comment.user.username }}</span></h5>
    </div>
    <div class="post-actions">
        <a class="like"><i class="bi bi-heart"></i> 880</a>
    </div>
</div>
<div class="post-content">
    <p>{{ comment.content }}</p>
</div>
<hr>
{% endfor %}