{% if accounts|length == 0 %}
<div class="no-data text-center py-3 fs-6">No accounts exist</div>
{% endif %}
{% for account in accounts %}
<div class="full-account">
    <div class="post-heading">
        <img src="{{ account.profile_image_url if account.profile_image_url else url_for('static', filename='assets/default-profile.jpg') }}" alt="" width="50" height="50" class="rounded-circle me-2">
        <h5 class="{{account.id}}">{{ account.name }}<br /><span>@{{ account.username }}</span></h5>
        <strong>{{account.followers | length}} Followers</strong>
    </div>
    <div class="follow">
        {% if account.id in following %}
            <button>Following</button>
        {% else %}
        <button>Follow</button>
        {% endif %}
    </div>
</div>
{% endfor %}
<script>
    $(".post-heading").click(function () {
        var accountId = $(this).find('h5').attr('class');
        showProfile(accountId);
    });
    $('.follow button').click(function () {
        var button = $(this);
        var accountId = button.closest('.full-account').find('h5').attr('class');
        if (button.text() === 'Follow') {
            $.ajax({
                url: '/follows/' + accountId + '/1',
                type: 'POST',
                success: function (response) {
                    button.text('Following');
                }
            });
        } else {
            $.ajax({
                url: '/follows/' + accountId + '/2',
                type: 'POST',
                success: function (response) {
                    button.text('Follow');
                }
            });
        }
    });
</script>
<style>
    .follow button {
        font-size: 14px;
        width: 80px !important;
    }
</style>