<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coreXmanzoid</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/logo.png')}}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <section id="signup">
        <div class="signup-page">
            <div class="signup-text d-none d-sm-block">
                <img src="{{ url_for('static', filename='/assets/Logo_horizontal.png') }}" class="logoimg img-fluid">
                <h1>Welcome back</h1>
                <ul>
                    <li>Log in to see what’s happening on the platform.</li>
                    <li>Share your thoughts through tweets.</li>
                    <li>Discover what others are posting and show your support.</li>
                    <li>Explore new people and build meaningful connections.</li>
                </ul>
                <h6>By logging in, you agree to our
                    <a href="{{ url_for('main.terms_of_service') }}" style="color: #FBF3D1;">Terms of Service</a> and
                    <a href="{{ url_for('main.privacy_policy') }}" style="color: #FBF3D1;">Privacy Policy</a>.
                </h6>
            </div>
            <center>
                <form action="{{ url_for('auth.login') }}" method="post">
                    <div class="signup-form my-5 py-5">
                        <h1 class="pb-2">Log-in</h1>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class="flashes">
                            {% for msg in messages %}
                            <li>{{ msg }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                        <input type="text" name="username" placeholder="Enter Username or Email*" required>
                        <input type="password" name="pin" id="userPassword" placeholder="Enter your Password*"
                            required><br>
                        <center>
                            <div class="cf-turnstile" data-sitekey="0x4AAAAAACmwFzmV2GwylvEi">
                            </div>
                        </center>
                        <a href=""><button type="submit" id="login-button" class="submitbutton">Login</button></a>
                        <a href="{{ url_for('auth.reset_password') }}">Forget Password?</a> <br> <br>
                        <h6>Don't have account? <a href="{{url_for('auth.signup', st=0)}}">SignUp</a> instead.</h6>
                    </div>
                </form>
            </center>

        </div>
        </div>
    </section>

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ url_for('main.home') }}" class="nav-link px-2 text-body-secondary">Home</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="{{ url_for('pricing.pricing') }}"
                    class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="{{ url_for('main.about') }}"
                    class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2026 coreXmanzoid, Inc</p>
        <p class="text-center text-body-secondary">Built with <i class="bi bi-heart-fill" style="color: red;"></i> by
            coreXmanzoid</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script>
    //     $('#login-button').click(function () {
    //         let button = $(this);
    //         button.prop("disabled", true);
    //         button.html(`
    //     <span class="btn-loader"></span>
    //     logging-in...
    // `);
    //     });
    </script>
</body>

</html>