<div class="flex top-pages">
    <h6 data-state="0" class="active-a" data-userid={{ current_user.id }}>For you</h6>
    <hr>
    <h6 data-state="2" class="" data-userid="{{ current_user.id }}">Following</h6>
</div>
<hr>
<div class="newPost">
    <img src="{{ current_user.profile_image_url if current_user.profile_image_url else url_for('static', filename='assets/default-profile.jpg') }}"
        alt="" width="50" height="50" class="rounded-circle me-2">
    <textarea name="post-input" spellcheck="false" placeholder="Whats-happening!"></textarea>
</div>
<div class="submit">
    <div class="progress-circle" style="width: 40px; height: 40px;">
        <svg viewBox="0 0 50 50">
            <circle class="progress-circle-track" cx="25" cy="25" r="22" stroke="#e2e8f0" stroke-width="3"
                fill="none" />
            <circle class="progress-circle-indicator" cx="25" cy="25" r="22" stroke="#3b82f6" stroke-width="3"
                fill="none" stroke-dasharray="138.23007675795088 138.23007675795088" stroke-dashoffset="0"
                transform="rotate(-90 25 25)" />
        </svg>
    </div>
    <button type="submit" data-userid="{{ current_user.id }}" disabled>Post</button>
</div>
<hr>
