<!-- remember 100 in home.js -->
<div class="ai-bar" style="display: none">
    <div class="right-sidebar">
        <div class="premium">
            <h4>Subscribe to Premium</h4>
            <p>Get access to premium features with better response & unlimited access to Manzoid-AI.</p>
            <button>Subscribe</button>
        </div>
        <div class="premium">
            <h4>Manzoid AI Tips</h4>
            <ul>
                <li>
                    <p>Enjoy best AI features with our trained model</p>
                </li>
                <li>
                    <p>Ask me to rewrite your posts</p>
                </li>
                <li>
                    <p>Ask me to generate new text ideas</p>
                </li>
                <li>
                    <p>Ask me to summarize content</p>
                </li>
                <li>
                    <p>Ask me to generate new text ideas</p>
                </li>
                <li>
                    <p>Ask me to suggest hashtags for your post</p>
                </li>
                <li>
                    <p>Answer questions quickly</p>
                </li>
                <li>
                    <p>All chats are private and temporary</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="explore-tab">
    <center>
        <div class="search">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search By Name">
        </div>
    </center>
    <div class="premium">
        <h4>Subscribe to Premium</h4>
        <p>Get access to premium features that are available for our special users</p>
        <button>Subscribe</button>
    </div>
    <div class="explore-accounts">
        <!-- Show Accounts Segguestions -->
        <div class="loader-wrapper">
            <span class="loader"></span>
        </div>

    </div>
</div>