<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coreXmanzoid</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets.logo.png')}}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <section id="signup">
        <div class="signup-page">
            <div class="signup-text d-none d-sm-block" style="padding: 0px 50px;">
                <img src="../static/assets/logo2.png" class="logoimg img-fluid">
                <h1>Reset Your Password</h1>
                <ul>
                    <li>Enter your registered email address and <br> we’ll send you a secure link to reset your
                        password.
                    </li>
                    <li>For your security, the reset link will expire after a short time.</li>
                    <li>If you didn’t request an email reset, you can safely ignore it.</li>
                </ul>
                <h6>Remember your password? <a href="/login" style="color: #FBF3D1">Back to Login</a></h6>
            </div>
            <center>
                {% if data.page == "resetPassword" %}
                <div class="signup-form reset-password-form my-5 p-5">
                    <h1 class="p-3">Reset Password</h1>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashes">
                        {% for msg in messages %}
                        <li>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    <input type="email" class="w-75" name="email" placeholder="Enter your Email*" required autofocus>
                    <a href=""><button type="submit" class="submitbutton" disabled>Send Email</button></a>
                    <h6 class="my-3">Already have account?<a href="{{ url_for('login') }}">Login</a></h6>
                </div>
                {% elif data.page == "newPassword" %}
                <div class="signup-form my-5 p-5 new-password-form">
                    <h1>Reset Password</h1>
                    <input type="Password" name="newPassword" placeholder="Enter new password*" required autofocus>
                    <input type="password" name="confirmNewPassword" placeholder="Confirm new password*" required>
                    <br><small id="newpasswordStrength" style="color: red;"></small>
                    <a href=""><button type="submit" class="submitbutton">Reset Password</button></a>
                </div>
                {% endif %}
            </center>

        </div>
        </div>
    </section>

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2026 Company, Inc</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        data = {{ data | tojson }};
    </script>
    <script src="/static/js/resetPassword.js"></script>
</body>

</html>